<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.CadenaConexion_BD_BaseNormal"
            connectionString="Data Source=DESKTOP-GUU2CNQ\SQLEXPRESS;Initial Catalog=BD_BaseNormal;User ID=sa;Password=balonazo75"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.CadenaConexion_BD_BaseEspecial"
            connectionString="Data Source=.;Initial Catalog=BD_BaseEspecial;User ID=sa;Password=balonazo75"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>